p {
  font-family: Raleway;
  margin-top: 0;
  margin-bottom: 0;
}

body {
background-color: #000000;
}

.logo {
margin-left: auto;
margin-right: auto;
width: 750px;
height: 750px;
object-fit: cover;
display: flex;
justify-content: center;
align-items: center;
}

#meni {

color: white;
font-family: Raleway;
font-weight: bolder;
font-size: 54px;
text-align: center;
margin-top: -20px;
margin-bottom: 70px;

}

.ig {

margin: auto;
margin-top: 70px;
margin-bottom: 60px;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
}

.ig img {
  width: 60px;
  height: 60px;
}

#bt-group {
width: 900px;
height: 540px;
display: flex;
margin: auto;
flex-direction: column;
justify-content: space-between;
justify-items: center;
}

#bt-group button {
margin: auto;
}

#socials {
margin: auto;
width: 150px;
height: 120px;
margin-top: 50px;
}